
  <div class="row-fluid">

 <h1 class="text-center monserrat" > OPEN POSITIONS </h1>

 </div>

<br>
<br>


 <div class="row-fluid" ng-init="load()">
		
		<div class="list-cti-jobs" >

		   <p class="text-center" ng-if="values.length == 0" >
		   	   Not Jobs found.
		   </p>


		  	<div class="list-group-item clearfix" ui-sref="job-detail({id:value.ReqIntID})" ng-repeat="value in values">
		  	  <div class="col-lg-6">
		  	     <div class="row">
		  	     	<strong style="text-transform:uppercase">{{value.JobTitle}}</strong>
		  	     </div>		  	     
		  	     <div class="row" style="margin-top:10px">
		  	     	<small class="color-gray"><i>Published {{moment(value.CreateDate).fromNow()}}</i></small>
		  	     </div>		  	     		  	    
		  	  </div>
		  	  <div class="col-lg-6">
		  	    <span class="pull-right">
		  	    	<small ><i class="color-gray">{{value.Location}}</i></small>
		  	    </span>
		  	  </div>
		  	</div>
		  		 

		</div>  

 </div>
